@import '../../scss/variables';

.ArtistTitle {
  margin-top: $spacing-lg;

  .Image {
    width: 100%;
    height: auto;
    border-radius: 50%;

    @media (min-width: $tablet-min-width) {
      width: $img-mobile-width;
    }
  }

  .ArtistName {
    margin-top: 0;
    font-size: $title-fz-lg;
  }
}
