.ArtistTitle {
  margin-top: 50px;

  .Image {
    width: 100%;
    height: auto;
    border-radius: 50%;

    @media (min-width: 375px) {
      width: 300px;
    }
  }

  .ArtistName {
    margin-top: 0;
    font-size: 50px;
  }
}
