@import '../../scss/variables';

.Events {
  .Event {
    @include card;
    display: flex;
    flex-direction: column;
    margin: $spacing-md 0;

    .Description {
      margin-top: 0;
      padding-bottom: $spacing-md;
      font-size: $default-fz;
      text-align: justify;
      border-bottom: 1px solid $light-grey;

      @media (min-width: $desktop-min-width) {
        font-size: $title-fz-sm;
      }
    }

    .Details {
      p {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
        font-size: $default-fz;
        text-align: left;

        @media (min-width: $desktop-min-width) {
          font-size: $title-fz-sm;
        }

        &:last-child {
          margin-bottom: 0;
        }

        img {
          @include icon;
        }

        span {
          padding-left: $spacing-sm;
        }
      }
    }
  }

  .Notice {
    margin-top: $spacing-md;
    font-size: $title-fz-sm;
  }
}
