@import '../../scss/variables';

.Title {
  margin: $spacing-lg 0 $spacing-md 0;
  text-align: center;
  font-size: $title-fz-md;
  font-weight: 400;

  @media (min-width: $desktop-min-width) {
    font-size: $title-fz-lg;
  }
}
