.Title {
  margin: 50px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 50px;
    margin-top: 100px;
  }
}

.Container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 840px) {
    padding: 0;
  }
}
