@import '../../scss/variables';

.EventFiltersTitle {
  font-size: $title-fz-sm;
  font-weight: 400;
}

.EventFilters {
  display: flex;
  justify-content: space-between;

  button {
    @include card;
    flex-basis: 30%;
    font-size: $default-fz;
    border: none;
    transition: background-color 500ms;

    &:focus,
    &:hover {
      outline: none;
    }

    &.active {
      background-color: $light-grey;
    }
  }
}
