.ArtistCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .Image {
    flex-basis: 100%;
    display: flex;

    @media (min-width: 768px) {
      flex-basis: 320px;
      height: 300px;
      padding-right: 20px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;

      @media (min-width: 768px) {
        width: 300px;
      }
    }
  }

  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;

    @media (min-width: 768px) {
      padding-top: 0;
    }

    .ArtistInfo {
      p {
        margin-top: 0;
        font-size: 20px;
        text-align: left;

        @media (min-width: 768px) {
          font-size: 25px;
        }

        &.UpcomingEvents {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          & * {
            padding-left: 5px;
          }

          img {
            padding-left: 0;
          }
        }
      }
    }

    .Actions {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #dfdfdf;
      padding-top: 5px;

      .Facebook {
        display: inline-block;
        width: 48px;
        height: 48px;
      }

      .Preview {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #029be5;
        text-decoration: none;

        img {
          width: 48px;
        }
      }
    }
  }
}
