@import '../../scss/variables';

.Nav {
  background: $light-black;
  padding: $spacing-xs;
  text-align: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 65px;
    width: 100%;
    color: $white;
    text-decoration: none;
    font-size: $title-fz-sm;

    @media (min-width: $desktop-min-width) {
      width: 350px;
      padding: $spacing-md;
    }

    .Logo {
      width: 50px;
    }
  }
}
